html {
    font-size: 100%;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 12px;
    text-align: center;
/*    background: #fff url('../img/bg_body_3.png') no-repeat fixed top left;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color: #333;
/*    font-weight: bold;*/
}

h1 {
/*    font-family: 'Covered By Your Grace', arial, serif;*/
    font-size: 40px;
/*    font-weight: bold;*/
/*    color: #C44D58;*/
}

h2 { font-size: 30px; padding: 0 0 10px 0; }
h3 { font-size: 25px; padding: 0 0 10px 0; }
h4 { font-size: 16px; padding: 0 0 5px 0; }
h5 { font-size: 14px; padding: 0 0 5px 0; }
h6 { font-size: 12px; padding: 0 0 5px 0; }


a {
    color: #8CDE4B;
    text-decoration: none;
    display: inline-block;
    padding: 0;
/*    vertical-align: middle;
    line-height: normal;*/
}
a img {
    margin: 0px 5px 0 0;
    float: left;
}
/*a:hover { color: #CDFC43; }*/
/*a.active { color: #CDFC43; }*/
a:focus { }

strong { font-weight: bold; color: #333; }

small { font-size: 0.85em; }

pre { font-family: monospace; }

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}

/********************************      General Classes      ********************************/

.clear {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

#wrapper {
/*    border: 1px solid #efefef;*/
    width: 950px;
    margin: 55px auto 30px auto;
    text-align: left;
/*    background-image: url(../img/handmadepaper.png);*/
    background-color: #fff;
    padding: 10px 10px 0px 0;
    -moz-box-shadow: 0px 0px 15px #000;
    -webkit-box-shadow: 0px 0px 15px #000;
    box-shadow: 0px 0px 15px #000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#header {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    background: url('../img/bg_header.png') repeat-x top left;
    color: #fff;
    padding:0;
    text-align: left;
    height: 50px;
    z-index: 1000;
}

#header #header-wrapper {
    width: 960px;
    margin: 0px auto;
    position: relative;
}

#header span#logo {
    margin-top: 15px;
    padding: 0px;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: #ffffff;
    display: inline-block;
    cursor: default;
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 1px 1px 10px #000;
}

#header #top-nav {
    display: inline-block;
    margin-top: 9px;
/*    border: 1px solid #ccc;*/
}

#header #top-nav li {
    display: inline-block;
}

#header #top-nav li a {
    display: block;
    padding: 7px 10px;
}

#header #top-nav li:hover {
    border-bottom: 4px solid #4ECDC4;
}

#header #top-nav li.active {
    border-bottom: 4px solid #4ECDC4;
}

#header #header-nav {
    position: absolute;
    top: 4px;
    right: 0px;
}

#header #header-nav > div {
    padding: 5px 10px;
    cursor: pointer;
    background: #222;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    float: right;
    display: inline-block;
    margin-left: 5px;
}

#header #header-nav > div span{
    display: inline-block;
    line-height: 25px;
}

#header #header-nav > div img {
    float: left;
    margin-right: 5px;
}

#header #user-info:hover {
    background-color: #000;
}

#header #user-info img{
    float: left;
    margin-right: 5px;
/*    border: 2px solid #000;*/
}

#header #user-info span#name {
    
}

#header #user-info:hover .dropdown{
    left: auto;
    right: 0px;
    top: 35px;
}

.dropdown {
    width: 150px;
    margin:0px auto;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border-top:none;

    background:#000;
    
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

.dropdown ul li a{
    padding: 5px 10px;
    display: block;
    text-align: right;
    border-right: 3px solid #000;
}

.dropdown ul li a:hover{
    border-right: 3px solid #4ECDC4;
/*    color: #000;*/
}

#content {
    margin-bottom: 10px;
    margin-left: -5px;
    padding: 0 0 0 10px;
/*    border: 1px solid #ccc;*/
    display: inline-block;
    width: 730px;
    float: left;
    border-left: 1px solid #efefef;
}

#sidebar {
/*    border: 1px solid #ccc;*/
    display: inline-block;
/*    margin-right: 10px;*/
    width: 213px;
    float: left;
    z-index: 1000;
}

#sidebar #side-nav {
    margin-bottom: 10px;
}

#sidebar #side-nav ul{
/*    border: 1px solid #ccc;*/
    width: 213px;
    margin-top: 20px;
    margin-left: -5px;
}

#sidebar #side-nav ul li {
    margin: 0;
/*    padding: 10px;*/
/*    border-bottom: 1px dashed #efefef;*/
    border-left: 5px;
}

#sidebar #side-nav ul li a.active{
    background: #4ECDC4;
    border-left: 5px solid #46b8b0;
}

#sidebar #side-nav ul li a.active:hover{
    background: #4ECDC4;
    border-left: 5px solid #46b8b0;
}

#sidebar #side-nav ul li a.active{
    color: #fff;
    padding: 10px 15px;
}

#sidebar #side-nav ul li a:hover{
    background: #efefef;
    border-left: 5px solid #ccc;
    padding: 10px 15px;
}

#sidebar #side-nav ul li a {
    padding: 10px 20px;
    display: block;
}

#sidebar #side-nav ul li ul {
    margin-left: 20px;
    width: 194px;
    margin-top: 0px;
}

#sidebar #side-nav ul li ul li{
    margin-left: 0px;
}

#sidebar #side-nav ul li ul li a{
    padding: 7px 20px;
    display: block;
}

#sidebar #side-nav ul li ul li a:hover{
    padding: 7px 15px;
    background: #efefef;
    border-left: 5px solid #ccc;
}

#sidebar #side-nav ul li ul li a.active{
    padding: 7px 15px;
    background: #999;
    border-left: 5px solid #666;
}

#sidebar #side-nav ul li ul li a.active:hover{
    padding: 7px 15px;
    background: #999;
    border-left: 5px solid #666;
}

#footer {
/*    border: 1px solid blue;*/
    font-family: 'Covered By Your Grace', arial, serif;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #999;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    margin: 0 -10px 0 0;
/*    text-shadow: 1px 1px 1px #000;*/
}
#footer a{
    font-size: 16px;
}

.paginacion {
    margin-top: 10px;
    text-align: center;
/*    padding: 5px;*/
/*    border: 1px solid #111;*/
}

.paginacion span {
/*    border: 1px solid #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;*/
    float: left;
}

.paginacion .active a{
    display: inline-block;
    padding: 5px 10px;
}

.paginacion .active a:hover{
    background: #efefef;
}

.paginacion .disabled {
    color: #ccc;
    display: inline;
    padding: 5px 10px;
}

.paginacion .current {
    background: #4ECDC4;
    color: #fff;
    display: inline;
    padding: 5px 10px;
}

.negativo {
    color: red;
}
.positivo {
    color: #57a000;
}
.sub-nav {
    float:right;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.sub-nav a {
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 1px 1px 1px #000;
/*    color: #ccc;*/
    font-size: 19px;
}

#aire {
    height: 5px;
}

#login {
    padding: 10px;
}
#login #info-login {
    width: 590px;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
}
#login #do-login {
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    font-size: 19px;
    font-weight: bold;
    color: #666;
    text-align: center;
    width: 300px;
    float: right;
    padding: 5px 10px 10px 10px;
    background-color: whitesmoke;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#login #do-login h2{
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    font-size: 19px;
    font-weight: normal;
    color: #666;
}

.fb-facepile {
    margin-top: 10px;
    border-top: 1px solid #ededed;
}

/*Formulario*/
#formReg {
    padding: 15px;
    width: 300px;
/*    height: 300px;*/
    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#formReg h2 {
    display: inline-block;
    margin-top: 0;
}
#formReg h2.dragable {
    cursor: move;
}

.btnIco {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    float: right;
}

.popup {
    background: url('../img/popup.png') 2px 2px no-repeat;
}
.popdown {
    background: url('../img/popdown.png') 2px 2px no-repeat;
}

.normal {
    float: right;
}

.flotando {
    position: fixed;
    right: 100px;
    top: 100px;
    background: #fff;
    border: 1px solid #ccc;
}

.form {
    width: 310px;
    margin-bottom: 0px;
}

.hasDatepicker {
    cursor: pointer !important;
    background-color: white !important;
}

.resumen {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.resumen dl {
    margin-left: 20px;
    margin-bottom: 0px;
}

.resumen dl dt {
    font-weight: bold;
    padding: 2px;
/*    border: 1px solid #ccc;*/
    display: inline-block;
    width: 200px;
}

.resumen dl dd {
/*    border: 1px solid #ccc;*/
    padding: 2px;
    display: inline-block;
    width: 400px;
}