html {
    font-size: 100%;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 12px;
    text-align: center;
    cursor: default;
/*    background: #fff url('../img/bg_body_3.png') no-repeat fixed top left;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color: #333;
/*    font-weight: bold;*/
}

h1 {
/*    font-family: 'Covered By Your Grace', arial, serif;*/
    font-size: 40px;
/*    font-weight: bold;*/
/*    color: #C44D58;*/
}

h2 { font-size: 30px; margin: 0 0 10px 0; display:inline-block; }
h3 { font-size: 25px; margin: 0 0 10px 0; }
h4 { font-size: 16px; margin: 0 0 5px 0; }
h5 { font-size: 14px; margin: 0 0 5px 0; }
h6 { font-size: 12px; margin: 0 0 5px 0; }


a {
    color: #8CDE4B;
    text-decoration: none;
    display: inline-block;
    padding: 0;
/*    vertical-align: middle;
    line-height: normal;*/
}
a img {
    margin: 0px 10px 0 0;
    float: left;
    opacity: 0.6;
    transition:opacity 0.5s;
    -moz-transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s;
    -o-transition:opacity 0.5s;
}

a:hover img {
    opacity: 1;
}
/*a:hover { color: #CDFC43; }*/
/*a.active { color: #CDFC43; }*/
a:focus { }

strong { font-weight: bold; color: #333; }

small { font-size: 0.85em; }

pre { font-family: monospace; }

p {
    padding: 5px 0 10px 0;
    line-height: 1.6em;
}

/********************************      General Classes      ********************************/

.clear {
    clear: both;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

#wrapper {
/*    border: 1px solid #efefef;*/
    width: 950px;
    margin: 75px auto 0px auto;
    text-align: left;
    padding: 10px 10px 0px 0;
    -moz-box-shadow: 0px 0px 15px #000;
    -webkit-box-shadow: 0px 0px 15px #000;
    box-shadow: 0px 0px 15px #000;
/*    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;*/
    margin-bottom: 60px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
}

#header {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
/*    background: url('../img/bg_header.png') repeat-x top left;*/
    color: #fff;
    padding:0;
    text-align: left;
    height: 90px;
    z-index: 1;
    background: #3d3f46;
    background: -moz-linear-gradient(top, #333 0%,#111 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(90%,#111));
    background: -webkit-linear-gradient(top, #333 0%,#111 90%);
    background: -o-linear-gradient(top, #333 0%,#111 90%);
    background: -ms-linear-gradient(top, #333 0%,#111 90%);
    background: linear-gradient(top, #333 0%,#111 90%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#111',GradientType=0 );
    border-bottom: 1px solid #000;
    box-shadow: 0 3px 15px rgba(0,0,0,0.6);
}

#header #header-wrapper {
    width: 960px;
    margin: 0px auto;
    position: relative;
    height: 90px;
}

#header span#logo {
    margin-top: 15px;
    padding: 0px;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: #ffffff;
    display: inline-block;
    cursor: default;
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    line-height: 30px;
    position: absolute;
    bottom: 15px;
    left: 109px;
    text-align: right;
}

#header #top-nav {
    display: inline-block;
    margin-top: 9px;
/*    border: 1px solid #ccc;*/
}

#header #top-nav li {
    display: inline-block;
}

#header #top-nav li a {
    display: block;
    padding: 7px 10px;
}

#header #top-nav li:hover {
    border-bottom: 4px solid #4ECDC4;
}

#header #top-nav li.active {
    border-bottom: 4px solid #4ECDC4;
}

#header #header-nav {
    position: absolute;
    top: 4px;
    right: 0px;
}

#header #header-nav > div {
    padding: 5px 10px;
    cursor: pointer;
    background: #222;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    float: right;
    display: inline-block;
    margin-left: 5px;
}

#header #header-nav > div span{
    display: inline-block;
    line-height: 25px;
}

#header #header-nav > div img {
    float: left;
    margin-right: 5px;
}

#header #user-info:hover {
    background-color: #000;
}

#header #user-info img{
    float: left;
    margin-right: 5px;
/*    border: 2px solid #000;*/
}

#header #user-info span#name {
    
}

#header #user-info:hover .dropdown{
    left: auto;
    right: 0px;
    top: 35px;
}

.dropdown {
    width: 150px;
    margin:0px auto;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border-top:none;

    background:#000;
    
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

.dropdown ul li a{
    padding: 5px 10px;
    display: block;
    text-align: right;
    border-right: 3px solid #000;
}

.dropdown ul li a:hover{
    border-right: 3px solid #4ECDC4;
/*    color: #000;*/
}

#content {
/*    margin-bottom: 10px;*/
    margin-left: 210px;
    padding: 20px 10px 10px 10px;
/*    border: 1px solid #ccc;*/
    display: inline-block;
    width: 730px;
    float: left;
/*    border-left: 1px solid #efefef;*/
    background-color: white;
    box-shadow: 0 -4px 20px rgba(0,0,0,0.8);
}

#sidebar {
/*    border: 1px solid #ccc;*/
    display: inline-block;
/*    margin-right: 10px;*/
    width: 210px;
    float: left;
    height: 0;
/*    z-index: 1000;*/
/*    position: fixed;*/
/*    background-color: rgba(255, 255, 255, 0.6);*/
}

#sidebar #side-nav {
    margin-bottom: 10px;
}

#sidebar #side-nav ul{
/*    border: 1px solid #ccc;*/
    width: 215px;
    margin-top: 20px;
    margin-left: -5px;
    position: fixed;
}

#sidebar #side-nav ul li {
    margin: 0;
/*    padding: 10px;*/
/*    border-bottom: 1px dashed #efefef;*/
    border-left: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-family: Century Gothic;
}

#sidebar #side-nav ul li img {
    opacity: 0.6;
}

#sidebar #side-nav ul li a.active{
    background-color: rgba(78, 205, 196, 0.7);
    border-left: 5px solid #46b8b0;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
}

#sidebar #side-nav ul li a.active img{
    opacity: 1;
}

#sidebar #side-nav ul li a:hover img{
    opacity: 1;
}

#sidebar #side-nav ul li a.active:hover{
    background-color: rgba(78, 205, 196, 0.7);
    border-left: 5px solid #46b8b0;
    color: #fff;
}

#sidebar #side-nav ul li a.active{
    color: #fff;
    padding: 10px 15px;
}

#sidebar #side-nav ul li a:hover{
    background-color: rgba(255,255,255,0.5);
    color: #333;
    border-left: 5px solid #ccc;
    padding: 10px 15px;
}

#sidebar #side-nav ul li a {
    padding: 10px 20px;
    display: block;
    line-height: 18px;
    vertical-align: middle;
    color: #666;
    transition:background 0.5s;
    -moz-transition:background 0.5s;
    -webkit-transition:background 0.5s;
    -o-transition:background 0.5s;
}

#sidebar #side-nav ul li ul {
    margin-left: 0px;
    width: 215px;
    margin-top: 0px;
}

#sidebar #side-nav ul li ul li{
    margin-left: 0px;
}

#sidebar #side-nav ul li ul li a{
    padding: 7px 20px 7px 45px;
    display: block;
}

#sidebar #side-nav ul li ul li a:hover{
    padding: 7px 15px 7px 40px;
    background-color: rgba(255,255,255,0.5);
    border-left: 5px solid #ccc;
}

#sidebar #side-nav ul li ul li a.active{
    padding: 7px 15px 7px 40px;
    background-color: rgba(0,0,0,0.4);
    border-left: 5px solid #666;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.4);
}

#sidebar #side-nav ul li ul li a.active:hover{
    padding: 7px 15px 7px 40px;
    background-color: rgba(0,0,0,0.4);
    border-left: 5px solid #666;
}

#footer {
/*    border: 1px solid blue;*/
    font-family: 'Covered By Your Grace', arial, serif;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    text-align: center;
    color: #999;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
/*    margin: 0 -10px 0 0;*/
    text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    position: absolute;
    width: 940px;
}
#footer a{
    font-size: 16px;
}

.paginacion {
    margin-top: 10px;
    text-align: center;
/*    padding: 5px;*/
/*    border: 1px solid #111;*/
}

.paginacion span {
/*    border: 1px solid #ccc;*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    float: left;
}

.paginacion span a {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #666;
}

.paginacion .active a{
    display: inline-block;
    padding: 5px 10px;
}

.paginacion .active a:hover{
    background: #efefef;
    color: #333;
}

.paginacion .disabled {
    color: #ccc;
    display: inline;
    padding: 5px 10px;
}

.paginacion .current {
    background: #4ECDC4;
    color: #fff;
    display: inline;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.negativo {
    color: red;
}
.positivo {
    color: #57a000;
}
.sub-nav {
    float:right;
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}
.sub-nav a {
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 1px 1px 1px #000;
/*    color: #ccc;*/
    font-size: 19px;
}

#aire {
    height: 5px;
}

#login {
    padding: 20px 10px 20px 10px
}
#login #info-login {
    width: 600px;
    float: left;
/*    border: 1px solid #ccc;
    padding: 5px;*/
}
#login #do-login {
    text-align: center;
    width: 300px;
    float: right;
    padding: 5px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#login #do-login h2{
    font-family: 'Covered By Your Grace', arial, serif;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    font-size: 19px;
    font-weight: normal;
    color: #666;
}

.fb-facepile {
    margin-top: 10px;
    border-top: 1px solid #ededed;
}

/*Formulario*/
#formReg {
    padding: 15px;
    width: 300px;
/*    height: 300px;*/
    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#formReg h2 {
    display: inline-block;
    margin-top: 0;
}
#formReg h2.dragable {
    cursor: move;
}

.btnIco {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    float: right;
}

.popup {
    background: url('../img/popup.png') 2px 2px no-repeat;
}
.popdown {
    background: url('../img/popdown.png') 2px 2px no-repeat;
}

.normal {
    float: right;
}

.flotando {
    position: fixed;
    right: 100px;
    top: 100px;
    background: #fff;
    border: 1px solid #ccc;
}

.form {
    width: 310px;
    margin-bottom: 0px;
}

.hasDatepicker {
    cursor: pointer !important;
    background-color: white !important;
}

.resumen {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.resumen dl {
    margin-left: 20px;
    margin-bottom: 0px;
}

.resumen dl dt {
    font-weight: bold;
    padding: 2px;
/*    border: 1px solid #ccc;*/
    display: inline-block;
    width: 200px;
}

.resumen dl dd {
/*    border: 1px solid #ccc;*/
    padding: 2px;
    display: inline-block;
    width: 400px;
}
#header-wrapper #botonera {
    position: absolute;
    bottom: 15px;
    right: 0px;
}
#usuario {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 220px;
    width: 570px;
    font-family: Century Gothic;
}

#usuario img {
    float: left;
    margin-right: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: 4px solid #333;
    padding: 0;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.5);
    width: 50px;
    height: 50px;
}

#usuario #name {
    display: block;
    font-size: 20px;
    line-height: 30px;
}

#usuario #proyecto {
    font-size: 17px;
    line-height: 25px;
}