#formCat {
    text-align: right;
    padding: 10px 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#formCat h2 {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
}

.form-inline {
    display: inline-block;
    margin: 0;
}

.form-inline .element {
    padding: 5px;
    display: inline-block;
}

.submit {
    display: inline-block;
}

span.edit form {
    margin: 0;
}

span.edit form input {
    font-family: "Arial";
    margin: 0;
    margin-left: -9px;
    margin-top: -10px;
    color: #666;
    padding: 10px 1px 9px 8px;
    border: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ededed;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

td.editable {
    padding: 0px;
    width: 180px;
    cursor: pointer;
}

td.editable:hover {
    background-color: #ededed;
}

span.edit {
    margin: 10px 0px 0px 9px;
    display: block;
}